#! /usr/bin/env python
PACKAGE='pose_follower_ackermann'

from dynamic_reconfigure.msg import SensorLevels
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name	    Type		  Level Description			            Default	 Min 	  Max
gen.add("kp",      double_t, 0,    "Kp",                      1.5,     0,     10.0)
gen.add("ki",      double_t, 0,    "Ki",                      0.1,     0,     1.0)
gen.add("kd",      double_t, 0,    "Kd",                      0.25,     0,     1.0)
gen.add("speed",   double_t, 0,    "speed",                   5,      -0,    30)

exit(gen.generate(PACKAGE, PACKAGE, "Pid"))
