<?xml version="1.0"?>

<!-- Launch file for a single audibot, this makes it easier to launch multiple audibots in the main launch file. 
Each audibot exists in its own space which is defined by the vehicle_id -->

<launch>

  <arg name="start_x" default="-152.5" />
  <arg name="start_y" default="275.2" />
  <arg name="start_yaw" default="0.0" />
  <arg name="vehicle_id" default="0" />

  <include file="$(find ugv_course_launch)/launch/spawn_audibot.launch">
    <arg name="robot_name" value="audibot_$(arg vehicle_id)" />
    <arg name="start_x" value="$(arg start_x)" />
    <arg name="start_y" value="$(arg start_y)" />
    <arg name="start_z" value="0.3" />
    <arg name="start_yaw" value="$(arg start_yaw)" />
    <arg name="gps" value="true" />
    <arg name="gps_rate" value="50.0" />
    <arg name="camera" value="true" />
    <arg name="pub_tf" value="true" />
    <arg name="tf_freq" value="100.0" />
  </include>

  <include file="$(find audibot_lane_detection)/launch/lane_detection.launch">
    <arg name="nodelet" value="true" />
    <arg name="robot_name" value="audibot_$(arg vehicle_id)" />
  </include>

  <group ns="audibot_$(arg vehicle_id)">

    <param name="/audibot/gps/ref_lat" value="42.853452" />
    <param name="/audibot/gps/ref_lon" value="-83.069858" />

    <param name="/use_sim_time" value="true" />
    <node pkg="audibot_path_following" type="audibot_path_following" name="lane_path_following" output="screen">
      <remap from="cmd_vel" to="cmd_vel_lane" />
      <param name="speed" value="15" />
    </node>
    <node pkg="pose_follower_ackermann" type="pose_follower_ackermann_node" name="intersection_path_following" output="screen">
      <param name="vehicle_id" value="$(arg vehicle_id)" />
      <remap from="cmd_vel" to="cmd_vel_intersection" />
    </node>
    <node pkg="control_multiplexer" type="control_multiplexer_node" name="cmd_vel_mux" />

    <node pkg="audibot_twist_controller" type="audibot_twist_node" name="twist_control" output="screen" />

    <node name="speed_reconfig" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /audibot_$(arg vehicle_id)/path_following">
      <param name="speed" type="double" value="12.0" />
    </node>

    <node name="feedback_reconfig" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /audibot_$(arg vehicle_id)/twist_control/steering">
      <param name="feedback_gain" type="double" value="100.0" />
    </node>

  </group>
</launch>
