<?xml version="1.0"?>

<!--derived from the ugv_course_launch audibot_road_world launch file. 

    The world created is also derived from the road_world -->

<launch>

  <arg name="num_audibot" default="1" />

  <include file="$(find smart_intersection_gazebo)/launch/intersection_world.launch" />

  <!-- If you want the original car-view for rviz uncomment this  -->
  <!-- <node pkg="rviz" type="rviz" name="lane_keep_viz" args="-d $(find audibot_lane_detection)/rviz/lane_detection.rviz" /> -->

  <!-- This RVIZ launch shows the intersection in the center and supports multiple cars being on the road.  -->
  <node pkg="rviz" type="rviz" name="intersection_rviz" args="-d $(find smart_intersection_gazebo)/rviz/intersection.rviz" />

  <!-- Include the actual intersections that we're developing -->
  <include file="$(find smart_intersection_launch)/launch/intersection.launch">
    <arg name="pose_x" value="-150.74" />
    <arg name="pose_y" value="273.96" />
    <arg name="intersection_id" value="1" /> <!-- This is one because the default is 0 and I wanna make sure the parameter is being passed properly -->
  </include>


  <include file="$(find smart_intersection_gazebo)/launch/audibot_PID_WIP.launch" if="$(eval arg('num_audibot') >= 1)">
    <arg name="start_x" value="-177.161" />
    <arg name="start_y" value="271.97" />
    <arg name="start_yaw" value="-0.024875" />
    <arg name="vehicle_id" value="0" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot_PID_WIP.launch" if="$(eval arg('num_audibot') >= 2)">
    <arg name="start_x" value="-149.20" />
    <arg name="start_y" value="232.41" />
    <arg name="start_yaw" value="1.47" />
    <arg name="vehicle_id" value="1" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot_PID_WIP.launch" if="$(eval arg('num_audibot') >= 3)">
    <arg name="start_x" value="-111.74" />
    <arg name="start_y" value="276.65" />
    <arg name="start_yaw" value="-3.038" />
    <arg name="vehicle_id" value="2" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot_PID_WIP.launch" if="$(eval arg('num_audibot') >= 4)">
    <arg name="start_x" value="-153.18" />
    <arg name="start_y" value="312.54" />
    <arg name="start_yaw" value="-1.586" />
    <arg name="vehicle_id" value="3" />
  </include>


  <include file="$(find smart_intersection_gazebo)/launch/audibot_PID_WIP.launch" if="$(eval arg('num_audibot') >= 5)">
    <arg name="start_x" value="-202.123" />
    <arg name="start_y" value="271.92" />
    <arg name="start_yaw" value="-0.019" />
    <arg name="vehicle_id" value="4" />
  </include>

</launch>
