<?xml version="1.0"?>

<!--derived from the ugv_course_launch audibot_road_world launch file. 

    The world created is also derived from the road_world -->

<launch>

  <arg name="num_audibot" default="1" />

  <include file="$(find smart_intersection_gazebo)/launch/intersection_world.launch" />

  <!-- If you want the original car-view for rviz uncomment this  -->
  <!-- <node pkg="rviz" type="rviz" name="lane_keep_viz" args="-d $(find audibot_lane_detection)/rviz/lane_detection.rviz" /> -->

  <!-- This RVIZ launch shows the intersection in the center and supports multiple cars being on the road.  -->
  <node pkg="rviz" type="rviz" name="intersection_rviz" args="-d $(find smart_intersection_gazebo)/rviz/intersection.rviz" />

  <!-- Include the actual intersections that we're developing -->
  <include file="$(find smart_intersection_launch)/launch/intersection.launch">
    <arg name="pose_x" value="-150.74" />
    <arg name="pose_y" value="273.96" />
    <arg name="intersection_id" value="1" /> <!-- This is one because the default is 0 and I wanna make sure the parameter is being passed properly -->
  </include>


  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 1)">
    <arg name="start_x" value="-303.068004" />
    <arg name="start_y" value="322.968426" />
    <arg name="start_yaw" value="-1.572008" />
    <arg name="vehicle_id" value="0" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 2)">
    <arg name="start_x" value="-303.068004" />
    <arg name="start_y" value="376.968426" />
    <arg name="start_yaw" value="-1.572008" />
    <arg name="vehicle_id" value="1" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 3)">
    <arg name="start_x" value="-45.706963" />
    <arg name="start_y" value="126.566949" />
    <arg name="start_yaw" value="-3.140855" />
    <arg name="vehicle_id" value="2" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 4)">
    <arg name="start_x" value="-95.706963" />
    <arg name="start_y" value="126.566949" />
    <arg name="start_yaw" value="-3.140855" />
    <arg name="vehicle_id" value="3" />
  </include>


  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 5)">
    <arg name="start_x" value="-207.92" />
    <arg name="start_y" value="421.21" />
    <arg name="start_yaw" value="0" />
    <arg name="vehicle_id" value="4" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 6)">
    <arg name="start_x" value="-246.65" />
    <arg name="start_y" value="421.21" />
    <arg name="start_yaw" value="0" />
    <arg name="vehicle_id" value="5" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 7)">
    <arg name="start_x" value="0" />
    <arg name="start_y" value="218.56" />
    <arg name="start_yaw" value="1.57" />
    <arg name="vehicle_id" value="6" />
  </include>

  <include file="$(find smart_intersection_gazebo)/launch/audibot.launch" if="$(eval arg('num_audibot') >= 8)">
    <arg name="start_x" value="0" />
    <arg name="start_y" value="184.87" />
    <arg name="start_yaw" value="1.57" />
    <arg name="vehicle_id" value="7" />
  </include>
</launch>
